---
layout: page
panel_includes:
  - toc
tail_includes:
  - related-posts
  - post-nav
  - comments
---
{% include lang.html %}

<header>
    {% if page.image %}
      {% assign img_path = page.image.first | default: page.image.path | default: page.image %}
      <div class="mt-3 mb-3">
        <a href="{{ img_path }}" class="popup">
          <img src="{{ img_path }}" alt="{{ page.image.alt | xml_escape | default: "Preview Image" }}" style="max-width:100%;height:auto;display:block;">
        </a>
        {%- if page.image.alt -%}
        <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
        {%- endif -%}
      </div>
    {% endif %}
  </header>
  
  <div class="content">
    {{ content }}
  </div>

  <div class="post-tail-wrapper text-muted">      
    <div class="post-tail-bottom d-flex justify-content-between align-items-center mt-5 pb-2">
      <div class="license-wrapper">
        {% if site.data.locales[lang].copyright.license.template %}
          {% capture _replacement %}
          <a href="{{ site.data.locales[lang].copyright.license.link }}">
            {{ site.data.locales[lang].copyright.license.name }}
          </a>
          {% endcapture %}
  
          {{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}
        {% endif %}
      </div>
  
      {% include post-sharing.html lang=lang %}
    </div>
    <!-- .post-tail-bottom -->
  </div>
  <!-- div.post-tail-wrapper -->