---
layout: default
# All the Thougts
---

{% include lang.html %}

<h1 class="ps-lg-2">
    <i class="fa fa-lightbulb fa-fw text-muted"></i>
    {{ page.title }}
  </h1>

<div id="post-list" class="flex-grow-1 pe-xl-2">
  {% for item in site.thoughts %}
    <article class="card-wrapper">
      <a href="{{ item.url | relative_url }}" class="card post-preview flex-md-row-reverse">
        {% if item.image %}
          {% if item.image.lqip %}
            {% capture lqip %}lqip="{{ item.image.lqip }}"{% endcapture %}
          {% endif %}

          {% assign src = item.image.path | default: item.image %}
          
          {% assign alt = item.image.alt | xml_escape | default: 'Preview Image' %}

          <img src="{{ src }}" w="17" h="10" alt="{{ alt }}" {{ lqip }}>
        {% endif %}

        <div class="card-body d-flex flex-column">
          <div class="card-text content mt-0 mb-2">
            <p>
              {% include no-linenos.html content=item.content %}
              {{ content | markdownify | strip_html | escape }}
            </p>
          </div>

          <div class="post-meta flex-grow-1 d-flex align-items-end">
            <div class="me-auto">
              <!-- posted date -->
              <i class="far fa-calendar fa-fw me-1"></i>
              {% include datetime.html date=item.date lang=lang %}            
            </div>

            {% if item.pin %}
              <div class="pin ms-1">
                <i class="fas fa-thumbtack fa-fw"></i>
                <span>{{ site.data.locales[lang].item.pin_prompt }}</span>
              </div>
            {% endif %}
          </div>
          <!-- .post-meta -->
        </div>
        <!-- .card-body -->
      </a>
    </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}